:root {
    --t-main-background-color: #fff;
    --t-main-font-color: #000;
    --t-window-box-shadow: 0 0 40px 1px rgb(0 0 0 / 20%);
    --t-header-background-color: #4b474c;
    --t-header-font-color: white;
    --t-tag-font-color: #fff;
    --t-cursor-color: #000;
    --t-cmd-key-color: #834dff;
    --t-cmd-arg-color: #c0c0ff;
    --t-cmd-splitter-color: #808085;
    --t-link-color: #02505e;
    --t-link-hover-color: #17b2d2;
    --t-table-border: 1px dashed #565151;
    --t-selection-font-color: white;
    --t-selection-background-color: #2a2626;
    --t-cmd-help-background-color: white;
    --t-cmd-help-code-font-color: rgba(0,0,0,.8);
    --t-cmd-help-code-background-color: #f7f7f9;
    --t-cmd-help-msg-color: #c5a5a5;
    --t-cmd-help-box-shadow: 0px 0px 0px 4px rgb(0 0 0 / 20%);
    --t-text-editor-floor-background-color: rgba(0,0,0,.1);
    --t-text-editor-floor-close-btn-color: #9a7070;
    --t-text-editor-floor-save-btn-color: #00b10e;
    --t-text-editor-floor-btn-hover-color: #652222;
    --t-json-background-color: rgba(0, 0, 0, 0);
    --t-json-value-obj-color: #bdadad;
    --t-json-value-bool-color: #cdc83c;
    --t-json-value-number-color: #a625be;
    --t-json-ellipsis-background-color: #f5f5f5;
    --t-json-more-background-webkit: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgb(255 255 255 / 10%) 100%);
    --t-json-more-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(255 255 255 / 10%) 100%);
    --t-json-deep-selector-border-color: rgb(249 249 249 / 52%);
    --t-code-default-background-color: rgb(227 239 248);
}
