:root {
  scroll-behavior: smooth;
}

.theme-default-content a:not(.header-anchor) {
  text-decoration: none;
}

.theme-default-content  a:not(.header-anchor):hover {
  text-decoration: underline;
}

.vp-sidebar-item.vp-sidebar-heading {
  font-weight: 500;
}

.t-window code {
  background-color: unset !important;
  color: unset;
  font-family: unset;
  transition: unset;
}

.t-window tr {
  background-color: unset;
}

.t-window table {
  display: table;
}