:root {
  scroll-behavior: smooth;
}

.theme-default-content a:not(.header-anchor) {
  text-decoration: none;
}

.theme-default-content  a:not(.header-anchor):hover {
  text-decoration: underline;
}

.vp-sidebar-item.vp-sidebar-heading {
  font-weight: 500;
}

.t-window code {
  background-color: unset !important;
  color: unset;
  font-family: unset;
  transition: unset;
}

.t-window tr {
  background-color: unset !important;
}

.t-window table {
  display: table;
}

.vp-hero-image {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.t-cmd-tips {
  cursor: default !important;
  font-family: monospace !important;
}
