/*json viewer style*/
.t-json-container .jv-container.jv-light {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.t-json-container .jv-container.jv-light .jv-item.jv-array,
.t-json-container .jv-container.jv-light .jv-item.jv-object {
    color: #bdadad;
}

.t-json-container .jv-container.jv-light .jv-key {
    color: white;
}

.t-json-container .jv-container.jv-light .jv-item.jv-boolean {
    color: #cdc83c;
}

.t-json-container .jv-container.jv-light .jv-item.jv-number {
    color: #f3c7fb;
}

.t-json-container .jv-container.jv-light .jv-ellipsis {
    color: white;
    background-color: #674848;
}

.t-json-container .jv-container .jv-code,
.t-json-container .jv-container .jv-code.open {
    padding-bottom: 0;
}

.t-json-container .jv-container .jv-more:after {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgb(255 255 255 / 10%) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(255 255 255 / 10%) 100%);
}

.t-json-container .jv-container {
    display: inline-block;
    min-width: 300px;
}

.t-json-deep-selector {
    margin-top: 8px;
    width: 75px;
    position: absolute;
    margin-left: -128px;
    border: 1px solid rgb(249 249 249 / 52%);
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.t-json-deep-selector:focus,
.t-json-deep-selector:focus-visible {
    outline: none;
}