.t-window::-webkit-scrollbar,
.t-code::-webkit-scrollbar,
.t-text-editor::-webkit-scrollbar,
.t-vue-codemirror .vue-codemirror .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar,
.t-window pre::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

.t-window::-webkit-scrollbar-button,
.t-code::-webkit-scrollbar-button,
.t-text-editor::-webkit-scrollbar-button,
.t-vue-codemirror .vue-codemirror .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-button,
.t-window pre::-webkit-scrollbar-button
{
    width: 0;
    height: 0;
    display: none;
}

.t-window::-webkit-scrollbar-thumb,
.t-code::-webkit-scrollbar-thumb,
.t-text-editor::-webkit-scrollbar-thumb,
.t-vue-codemirror .vue-codemirror .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.t-window pre::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    border-style: dashed;
    border-color: transparent;
    border-width: 2px;
    background-color: rgba(157, 165, 183, 0.4);
    background-clip: padding-box;
}

.t-window::-webkit-scrollbar-thumb:hover,
.t-code::-webkit-scrollbar-thumb:hover,
.t-text-editor::-webkit-scrollbar-thumb:hover,
.t-vue-codemirror .vue-codemirror .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover,
.t-window pre::-webkit-scrollbar-thumb:hover
{
    background: rgba(157, 165, 183, 0.7);
    cursor: pointer;
}

.t-window::-webkit-scrollbar-track,
.t-code::-webkit-scrollbar-track,
.t-text-editor::-webkit-scrollbar-track,
.t-vue-codemirror .vue-codemirror .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-track,
.t-window pre::-webkit-scrollbar-track
{
    border-radius: 6px;
}
