.shell-log-container {
    position: relative;
    padding: 0;
    margin: 0;
}

.shell-row, .shell-char {
    margin: 0;
    padding: 0;
}

.shell-row {
    word-break: break-all;
    font-size: 14px;
    overflow: hidden;
}

.shell-char {
    font-size: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-weight: bold;
}

.shell-input {
    position: absolute;
    left: 50px;
    right: 50px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
