.shell-row, .shell-char {
    margin: 0;
    padding: 0;
}

.shell-row {
    word-break: break-all;
    font-size: 14px;
    overflow: hidden;
}

.shell-char {
    font-size: 14px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-weight: bold;
}
