.t-teach {
    font-weight: 700;
    color: yellow;
}

.help-list {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: inline-grid;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
}

.help-list li {
    margin: 3px 0;
}

.tag-danger {
    background: red;
    margin: 0 8px;
    padding: 1px 8px;
    border-radius: 3px;
}

.json-deep-selector {
    margin-top: 5px;
    width: 140px;
}

.cmd-help {
    position: fixed;
    right: 10px;
    top: 40px;
    z-index: 99;
    background-color: black !important;
    max-width: 50%;
    padding: 5px;
    color: white;
    box-shadow: 0px 0px 0px 4px rgb(255 255 255 / 20%);
}

.cmd-help code {
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    padding: 0;
}

.pre-numbering {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    border-right: 1px solid #C3CCD0;
    background-color: #1C1D21;
    text-align: center;
    padding: 1em 0;
}

.pre-numbering li {
    list-style: none;
    color: #AAA;
    font-size: 1em;
}

pre {
    position: relative;
}

.example-ul {
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
}

.t-table-container {
    max-width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.t-border-dashed {
    border: 1px dashed #fff;
    border-collapse: collapse;
}

.t-table thead {
    font-weight: 600;
}

.t-table, .t-table tr, .t-table td, .t-table tbody, .t-table thead {
    margin: 0;
    padding: 15px;
}

.t-a {
    color: antiquewhite;
}

.t-a:hover {
    color: white;
}