
.btn {
    margin: 15px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 20%);
    transition: background-color .1s ease;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}